.btn {
  font-size: 1rem;
  border-radius: 0;
  padding: 10px 25px;
  line-height: initial;
  @include font-family-heading;
  &-black {
    background: black;
    color: white;
    &:hover {
      background: $brand-light;
    }
  }
  &-default {
    background: #ea4e18;
    color: white;
  }
}

button, .button {
  background: black !important;
  color: white !important;
  font-size: 1rem !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  padding: 13px 30px !important;
  border-color: black !important;
  line-height: initial !important;
  text-transform: capitalize !important;
  @include font-family-heading;
  @include transition-fade;
  &:hover {
    color: white !important;
    background: $brand !important;
    border:1px solid $brand !important;
  }
}

.elementor-button {

}


.checkout-button {
  display: block;
  text-align: center;
}


a.custom-button-class:link,
a.custom-button-class:visited {
  display: block;
  margin-top: 30px;
}
a.custom-button-class:hover,
a.custom-button-class:focus {
  /* some hover style */
}