//input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
//  color: #000;
//  border-radius: 0 !important;
//  padding: 10px 20px;
//  outline: none;
//
//  &:focus, &:hover, &:active {
//    outline: none;
//  }
//}
//
//label {
//  padding-left: 20px;
//  padding-bottom: 7px;
//  font-weight: 700;
//}
//
//.form-row {
//  display: block;
//  margin-left: 0 !important;
//  margin-right: 0 !important;
//}
//
//.select2-container--default .select2-selection--single {
//  border-radius: 30px !important;
//  padding: 10px 20px !important;
//  height: 44px !important;
//  border-color: #ccc !important;
//}
//
//.woocommerce-checkout-review-order-table .product-name {
//}
//
//.woocommerce-ordering {
//  @include font-family-heading;
//  margin-bottom: 40px;
//  .orderby {
//    border: 1px solid #ccc;
//    padding: 12px 20px;
//    text-transform: uppercase;
//    font-size: 0.8rem;
//  }
//}
//
//button:active, button:focus, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:active, input[type="submit"]:focus {
//  outline: none !important;
//}