.footer {
  padding: 50px 15px;
  @include max-mobile-xlg {
    padding: 100px 15px 50px;
  }

  .menu-footer-container {
    display: initial;
  }

  &-logo {
    text-align: center;
    margin-bottom: 30px;
    @include max-mobile-xlg {
      margin-bottom: 10px;
    }
    img {
      width: 150px;
      @include max-mobile-xlg {
        width: 120px;
      }
    }
  }

  &-copyright {
    margin-bottom: 15px;
    color: #5c5c5c;
    text-align: center;
    p {
      margin: 0;
    }
  }
  &-socialmedia {
    padding-top: 20px;
    a {
      margin: 0 5px;
      i{
        font-size: 1.7rem;
      }
    }
  }
  &-navigation {
    text-align: center;
    ul {
      display: inline-flex;
      @include list-unstyled;
      @include max-tablet-xs {
        width: max-content;
      }
      @include max-mobile-xlg {
        margin-bottom: 0;
      }
      li {
        @include max-tablet-xs {
          margin: 10px 0;
        }
        a {
          color: #000;
          margin: 0;
          @include max-tablet-xs {
            margin: 0 7px;
          }
          &:hover {
            color: $brand-light;
            &:after {
              color: #000 !important;
            }
          }
          &:after {
            content: '—';
            margin-left: 10px;
            margin-right: 10px;
            @include max-tablet-xs {
              display: none;
            }

          }
        }
        &:last-child {
          a:after {
            display: none;
          }
        }
      }
    }
  }

  &_bottom {

  }
}

