.give {


  &-progress-bar {
    border-radius: 0;
    background: #fff;
    > span{
      border-radius: 0;
    }
  }
  .income {
    color: #fff !important;
  }

  &-form {
    .give-gift-aid-accept-term-condition {
      width: max-content !important;
      margin-top: -7px !important;
    }
    .give-recurring-donors-choice label {
      width: max-content !important;
    }
    .give-fee-recovery-donors-choice {
      margin-bottom: 0 !important;
    }

    * {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }

    #give-gateway-radio-list {
      display: inline-flex !important;
      li {
        border: 1px solid transparent !important;
        background: transparent !important;
        color: #fff;
        padding: 12px 10px !important;
        outline: none!important;
        input {
          display: none !important;
        }

        &.give-gateway-option-selected {
          background: #fff !important;

          border: 1px solid #fff !important;
          *{
            color: $brand !important;
          }
        }
      }

    }



    .give-btn {
      border-radius: 0 !important;
      font-family: "Belwe Lt BT Light", Sans-serif !important;
      letter-spacing: 0 !important;
      text-transform: capitalize !important;
      &:hover {
        border-color: #FFD090 !important;
        background: transparent !important;
      }
    }
    .give-submit {
      font-size: 1.2rem;
      background: #000 !important;
      border-color: #000 !important;
      border: 1px solid #000 !important;
      @include font-family-heading;
      padding: 13px 10px !important;
      @include transition-fade;
      &:hover {
        border-color: #FFD090 !important;
        background: transparent !important;
      }
    }
    input, textarea {
      border: 1px solid #fff !important;
      background: transparent !important;
      color: #fff !important;
      padding: 12px 10px !important;
      outline: none!important;

      &::placeholder {
        color: #fff;
      }
      &:active, &:hover {
        border-color: #fff !important;
      }
    }

    select {
      border-radius: 0 !important;
      border: 1px solid #fff !important;
      background: transparent !important;

    }
    .give-donation-level-btn {
      background: transparent !important;
      padding:  5px 0 !important;
      border: none !important;
      border-bottom: 2px solid transparent !important;
      border-radius: 0 !important;
      margin-right: 15px !important;
      margin-bottom: 0 !important;
      outline: none !important;
      font-size: 1.1rem !important;
    }
    .give-default-level {
      border-bottom: 2px solid #FFD090 !important;

    }

    .give-currency-symbol, .give-donation-total-label {
      background: #fff !important;
      border-color: #fff !important;
      color: $brand !important;
      font-weight: 500 !important;
      float: left !important;
      height: 48px !important;
      line-height: 48px !important;
    }
    .give-text-input, .give-final-total-amount {
      width: min-content !important;
      float: left !important;
      height: 48px !important;
      background: transparent !important;
      border-color: #fff !important;
      line-height: 48px !important;
      @include max-mobile-xlg {
        border-top: 1px solid #fff !important;
      }
    }
  }

  &_forms {
    .summary {
      margin-top: 0;
      @include max-mobile-xlg {
        padding: 20px;
      }
    }
  }

  &-form-content-wrap {
    //p {
    //  font-size: 1.4rem;
    //  @include max-mobile-xlg {
    //    font-size: 1.2rem;
    //  }
    //}
  }
  &-wrap {
    padding: 0 !important;
  }

  .give-card {
    background: $brand;
    border: none !important;
    box-shadow: none;
    @include transition-fade;

    * {
      color: #fff;
    }

    &:hover {
      .give-card__body {
        padding: 20px;
      }
    }

    &__body {
      padding: 20px;
      @include transition-fade;
    }
  }



}

.introduction .income-stats .goal {
  display: none !important;
}

.innovator {


  &-container {
    padding-top: 300px;
    padding-bottom: 150px;
    background: $brand;
    @include max-mobile-xlg {
      padding: 170px 0 70px !important;
    }
    &_wrapper {
      max-width: 1000px;
      @include center;

      &_breadcrumb {
        @include max-mobile-xlg {
          margin-left: 20px;
        }
      }
    }
    *{
      color: #fff !important;
    }

  }


}



.give_dark {

  .give_error * {
    color: #000 !important;
  }

  input, textarea {
    border: 1px solid #000 !important;
    color: #000 !important;
    &::placeholder {
      color: #000 !important;
    }
    &:hover {
      border-color: #000 !important;
    }
  }

  select {
    border: 1px solid #000 !important;
    height: 46px !important;
    padding: 12px 10px !important;
    @include font-family-heading;

  }

  .give-currency-symbol, .give-donation-total-label {
    background: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
  }
  .give-text-input, .give-final-total-amount {
    border-color: #000 !important;
    @include max-mobile-xlg {
      border-top: 1px solid #000 !important;
    }
  }

  #give-gateway-radio-list {
    display: inline-flex !important;
    li {

      color: #000 !important;


      &.give-gateway-option-selected {
        background: #000 !important;

        border: 1px solid #000 !important;
        *{
          color: #fff !important;
        }
      }
    }

  }

  .give-submit {
    color: #fff !important;
    &:hover {
      border-color: #000 !important;
      background: #000 !important;
    }
  }

  .give-form-title {
    display: none !important;
  }


}


.give_error * {
  color: #000 !important;
}
