.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all .4s ease-in-out,transform .6s cubic-bezier(.165,.84,.44,1);
  border-bottom: 1px solid transparent;


  &-fixed {
    position: fixed;
    transition: all .4s ease-in-out,transform .6s cubic-bezier(.165,.84,.44,1);
    left: 0;
    background: $brand;
    height: 110px;
    border-bottom: 1px solid #fff;

    @include max-mobile-xlg {
      height: 70px;
    }



    .header {
      &-branding {
        opacity: 0;
        top: -100%;
      }

      &-title {
        opacity: 1;
        transition: all 0.3s ease-in 1s;

      }

    }

    &.slideUp {
      transition: all .4s ease-in-out,transform .6s cubic-bezier(.165,.84,.44,1);
      top: -100%;

      @include max-mobile-xlg {
        transition: all 0.3s ease-out 0s;

      }
    }
  }


  &-branding {
    position: absolute;
    @include center-absolute;
    top: 30px;
    z-index: 999;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    opacity: 1;


    @include max-mobile-xlg {
      top: 20px;
    }

    img {
      width: 270px;
      @include max-mobile-xlg {
        width: 200px;
      }
    }
  }

  &-title {
    position: absolute;
    @include center-absolute;
    top: 40px;
    z-index: 999;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    opacity: 0;
    @include max-mobile-xlg {
      top: 20px;
    }



    img {
      width: 120px;
      @include max-mobile-xlg {
        width: 80px;
      }
    }
  }

  &-toggle {
    position: absolute;
    top: 44px;
    left: 50px;
    z-index: 99999;
    @include max-mobile-xlg {
      top: 25px;
      left: 20px;
    }

    &_menu {
      cursor: pointer;
      padding: 11px 0;
      display: inline-block;
      width: 27px;
    }

    &_menu span, &_menu span:before, &_menu span:after {
      content: '';
      height: 1px;
      background-color: #FFF;
      width: 100%;
      display: block;

      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: all;
      transition-timing-function: ease;
    }

    &_menu {
      span {
        position: relative;

        &:before {
          position: absolute;
          top: -7px;
        }

        &:after {
          position: absolute;
          top: 7px;
        }
      }

      &.active {
        /* Cross effect */
        .menu-cross {
          transition-duration: 0.1s;
          background: none;

          &:before {
            transform: rotate(45deg);
            top: 0;
          }

          &:after {
            transform: rotate(-45deg);
            top: 0;
          }
        }

      }
    }
  }



  &-navigation {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    background: $brand;
    text-align: center;
    top: 0;
    left: 0;
    transform: translateY(-100vh) !important;
    transition: all 1.2s cubic-bezier(.19, .44, .22, 1) 0s;
    overflow-y: scroll;

    @include max-mobile-xlg {
      transition: all 0.7s cubic-bezier(.19, .44, .22, 1) 0s;

    }

    &.active {
      transition: all 1.2s cubic-bezier(.19, .44, .22, 1) 0s !important;
      transform: translateY(0) !important;
      @include max-mobile-xlg {
        transition: all 0.7s cubic-bezier(.19, .44, .22, 1) 0s !important;

      }
    }

    //@include center-vertically;
    &__image{
      @include max-tablet-xs {
        display: none;
      }
    }
    &_container {
      //@include center;
      padding: 100px 50px;
    }

    &__nav_main {
      ul {
        width: max-content;
        margin-top: 25px;
        display: block;
        list-style: none;
        margin-left: -40px;
        text-align: center;
        position: relative;
        z-index: 99;

        @include max-tablet-xs{
          margin: 0 auto;
        }

        li {
          border-bottom: 1px solid transparent;
          width: max-content;
          @include max-tablet-xs {
            margin: 5px 0;
          }

          &.current-menu-item {
            //a {
            //  color: $brand;
            //}
          }

          a {
            margin: 0 15px;
            font-size: 2.5rem;
            @include font-family-heading;
            color: #fff;
            @include max-mobile-xlg {
              font-size: 1.9rem;
              margin: 0;
            }

            &:hover {
              color: #FFD090;
            }


          }

        }
      }
    }

    &__nav_bottom {
      margin-top: 40px;
      ul {
        display: inline-flex;
        @include list-unstyled;
        @include max-tablet-xs {
          text-align: left;
          display: block;
          @include center;
          width: max-content;
        }
        li {
          @include max-tablet-xs {
            margin: 10px 0;
          }
          a {
            color: #fff;
            margin: 0;
            &:hover {
              color: $brand-light;
              &:after {
                color: #fff !important;
              }
            }
            &:after {
              content: '—';
              margin-left: 10px;
              margin-right: 10px;
              @include max-tablet-xs {
                display: none;
              }

            }
          }
          &:last-child {
            a:after {
              display: none;
            }
          }
        }
      }
    }


  }

  &-cart {
    position: absolute;
    right: 200px;
    top: 40px;
    z-index: 9999;
    &:hover {
      cursor: pointer;
    }

    @include max-mobile-xlg {
      right: 20px;
      top: 20px;
    }

    .cart-contents {
      display: inline-flex;
      span {
        position: relative;
        color: #000;
        top: 0;
        padding-top: 1px;
        padding-left: 6px;
        padding-right: 6px;
        margin-left: 0;
        @include max-mobile-xlg {
          padding-top: 0;
        }
        &:before {
          border-radius: 100%;
          width: 100%;
          height: 20px;
          content: '';
          position: absolute;
          background: white;
          top: 3px;
          left: 0;
          z-index: -1;
          @include max-mobile-xlg {
            top: 4px;
          }
        }
      }
    }

    i {
      font-size: 1.7rem;
      color: #fff;
      @include max-mobile-xlg {
        font-size: 1.7rem;
      }
    }

    &-modal {
      transform: translateX(100%);
      @include transition-fade;
      position: fixed;
      width: 40vw;
      height: 100vh;
      right: 0;
      top: 0;
      background: #fff;
      overflow-y: scroll;
      border-left: 1px solid #eee;
      z-index: 999999;

      @include max-mobile-xlg {
        width: 100vw;
        border-left: none;
        overflow-x: hidden;
      }

      &.active {
        transform: translateX(0);
      }
      * {
        opacity: 1 !important;
        transform: translateY(0) !important;
      }

      .modal-close {
        position: fixed !important;
        right: 0 !important;
        top: 0 !important;
        :hover {
          cursor: pointer;
        }


        i {
          font-size: 1.8rem;
        }
      }

      .modal-cart {
        .cart {
          margin-bottom: 100px;
          tr {
            border-bottom: 1px solid #eee;
          }
        }
        .cart_totals {
          table {
            td {
              text-align: right;
            }
          }
        }
        .actions {
          text-align: right !important;
          padding-right: 0 !important;
        }
        table {
          thead {
            display: none;
          }
          tbody {
            tr {
              td{
                padding: 10px;
                &.product-thumbnail {
                  padding-left: 0 !important;
                  img {
                    width: 70px;
                  }
                }
                &.product-remove {
                  display: none;
                }
                &.product-quantity {
                  text-align: right;
                  >div {
                    &:before {
                      content: 'qty';
                      color: #888;
                    }
                  }
                  input {
                    outline: none !important;
                    width: 35px !important;
                    @include font-family-heading;
                    text-align: center !important;
                    border: none !important;
                    color: #000;
                  }
                }
                &.product-subtotal {
                  display: none !important;
                }
              }
            }
          }
        }
      }

    }
  }

  &-give {
    position: absolute;
    right: 50px;
    top: 30px;
    z-index: 99999;
    @include max-mobile-xlg {
      display: none;
    }

    &_container {
      border: 1px solid #FFBC7C;
      padding: 10px 30px;

      span {
        color: #fff;
        font-size: 1.1rem;
        @include font-family-heading;
      }
    }
  }
}