.elementor-post__thumbnail {
  img{
    transform: scale(1.01) translate(-50%,-50%) !important;
  }
}

.chefarticles {
  .elementor-post__text {
    @include center-vertically;
  }

 .elementor-posts-container{
 @include max-mobile-xlg {
   --grid-column-gap: 20px !important;
   --grid-row-gap: 20px !important;
 }
  }
}