
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

@mixin font-family-heading {
  font-family: "Belwe Lt BT Light", Sans-serif !important;
  font-weight: 500;
}
@mixin font-family-default {
  font-family: 'Yantramanav', sans-serif;
}

