.elementor-1916 .elementor-element.elementor-element-6c0fcd7a > .elementor-container{max-width:900px;}.elementor-1916 .elementor-element.elementor-element-6c0fcd7a > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1916 .elementor-element.elementor-element-6c0fcd7a:not(.elementor-motion-effects-element-type-background), .elementor-1916 .elementor-element.elementor-element-6c0fcd7a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#E94E18;}.elementor-1916 .elementor-element.elementor-element-6c0fcd7a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:280px 0px 100px 0px;}.elementor-1916 .elementor-element.elementor-element-6c0fcd7a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1916 .elementor-element.elementor-element-587fd605 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 70px 0px 0px;}.elementor-1916 .elementor-element.elementor-element-587fd605 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1916 .elementor-element.elementor-element-6a18ddea{text-align:left;z-index:9;}.elementor-1916 .elementor-element.elementor-element-6a18ddea .elementor-heading-title{color:#FFFFFF;font-family:"Belwe Lt BT Light", Sans-serif;font-size:3rem;font-weight:400;line-height:1.1em;}.woocommerce .elementor-1916 .elementor-element.elementor-element-4c32b880 .woocommerce-product-details__short-description{color:#FFFFFF;font-size:1.3rem;}.woocommerce .elementor-1916 .elementor-element.elementor-element-27aa7123 .price{color:#FFFFFF;font-family:"Belwe Lt BT Light", Sans-serif;font-size:34px;font-weight:600;}.elementor-1916 .elementor-element.elementor-element-1e4e4fdf .cart button{background-color:#02010100;transition:all 0.2s;}.elementor-1916 .elementor-element.elementor-element-1e4e4fdf .quantity .qty{transition:all 0.2s;}.elementor-1916 .elementor-element.elementor-element-e2ef766 > .elementor-element-populated{margin:0px 0px 0px 0px;}@media(max-width:767px){.elementor-1916 .elementor-element.elementor-element-6c0fcd7a{margin-top:0px;margin-bottom:0px;padding:150px 0px 50px 0px;}.elementor-1916 .elementor-element.elementor-element-587fd605 > .elementor-element-populated{padding:50px 020px 50px 20px;}.elementor-1916 .elementor-element.elementor-element-6a18ddea .elementor-heading-title{font-size:2rem;line-height:1.2em;}.woocommerce .elementor-1916 .elementor-element.elementor-element-4c32b880 .woocommerce-product-details__short-description{font-size:16px;}.elementor-1916 .elementor-element.elementor-element-e2ef766 > .elementor-element-populated{padding:0px 0px 0px 0px;}}/* Start custom CSS for woocommerce-product-add-to-cart, class: .elementor-element-1e4e4fdf */.event_addtocart input{
    background: transparent;
    border: 1px solid #fff !important;
      background: transparent !important;
      color: #fff !important;
      padding: 12px 10px !important;
      outline: none!important;
      margin-bottom: 10px;
}
.event_addtocart input::placeholder {
    color: #fff;
    
}
.event_addtocart input:active, .event_addtocart input:hover {
    border-color: #fff !important;
}

.event_addtocart button {
        font-size: 1.2rem !important;
      background: #000 !important;
      border-color: #000 !important;
      border: 1px solid #000 !important;
      @include font-family-heading;
      padding: 13px 10px !important;
      border-radius: 0 !important;
      text-transform: capitalize !important;
      letter-spacing: 0 !important;
      font-family: "Belwe Lt BT Light", Sans-serif !important;
}

.event_addtocart button:hover {
     border-color: #FFD090 !important;
        background: transparent !important;
}/* End custom CSS */