
$transparent: transparent;
$white: #fff;
$black: #000;
$brand: #ea4e18;
$brand-light: #FFD090;

$color-pallete: (
  //default
        "transparent" : $transparent,
        "white" : $white,
        "black" : $black,
        "brand" : $brand,
        "brand-light" : $brand-light,
);

