.margin {
  &-default-0 {
    margin: 100px 0;
    @include max-tablet-xlg {
      margin: 70px 0;
    }

    @include max-mobile-xlg {
      margin: 40px 0;
    }
  }

  &-t-default {
    margin-top: 100px;

    @include max-tablet-xlg {
      margin-top: 70px;
    }

    @include max-mobile-xlg {
      margin-top: 40px;
    }
  }

  &-b-default {
    margin-bottom: 100px;

    @include max-tablet-xlg {
      margin-bottom: 70px;
    }

    @include max-mobile-xlg {
      margin-bottom: 40px;
    }
  }
}

.padding {
  &-default-0 {
    padding: 150px 0;
    @include max-tablet-xlg {
      padding: 100px 0;
    }

    @include max-mobile-xlg {
      padding: 70px 0;
    }
  }

  &-t-default {
    padding-top: 150px;

    @include max-tablet-xlg {
      padding-top: 100px;
    }

    @include max-mobile-xlg {
      padding-top: 70px;
    }
  }

  &-b-default {
    padding-bottom: 150px;

    @include max-tablet-xlg {
      padding-bottom: 100px;
    }

    @include max-mobile-xlg {
      padding-bottom: 70px;
    }
  }
}
