.queen {
  @include center-vertically;
  min-height: 100vh;
  text-align: center;

}

.eael-grid-post .eael-entry-footer, .eael-grid-post .eael-entry-wrapper {
  padding-left: 0;
  padding-right: 0;
}

