.argmc-wrapper * {
  opacity: 1 !important;
  transform: translateY(0) !important;

}
.argmc-nav {
  max-width: 1000px !important;
  @include center;
  @include max-mobile-xlg {
    padding: 0 20px;
  }
}
.argmc-wrapper .argmc-tabs-list {
  box-shadow: none !important;
  background: #fff !important;
}

.argmc-wrapper .argmc-tab-item {
  background: #fff !important;
}

.argmc-wrapper #customer_details, .argmc-wrapper .argmc-form-steps {
  max-width: 1000px !important;
  @include max-mobile-xlg {
    padding: 0 10px !important;
  }
}

.argmc-shipping-details {
  display: none !important;
}
.arg-product-qwt {
  display: none !important;
}
//.argmc-wrapper .argmc-form-steps {
//  padding-left: 0 !important;
//  padding-right: 0 !important;
//}

.wc_payment_methods {
  @include list-unstyled;
}




#add_payment_method #payment ul.payment_methods .stripe-card-group, .woocommerce-checkout #payment ul.payment_methods .stripe-card-group {
  width: 100% !important;
  padding: 0 !important;
}

.wc-stripe-elements-field, .wc-stripe-iban-element-field, .wc-stripe-elements-field, .wc-stripe-iban-element-field {
  border: 1px solid #000 !important;
  padding: 15px 10px !important;
  width: 100% !important;
}

.woocommerce .wc-credit-card-form {
  padding: 0 !important;
}


.woocommerce {
  .woocommerce-order {
    max-width: 1000px !important;
    @include center;

    @include max-mobile-xlg {
      padding: 70px 20px;
    }

    ul {
      @include list-unstyled;
    }

    .woocommerce-order-overview, .woocommerce-bacs-bank-details, .woocommerce-order-details {
      border-bottom: 1px solid #eee !important;
      padding: 50px 0;
    }
  }
  &-checkout {

    .woocommerce-input-wrapper {
      width: 100% !important;
    }
    input {
      border: 1px solid #000 !important;
      color: #000 !important;
      padding: 12px 10px !important;
      outline: none !important;
      background: transparent !important;
      font-size: 1rem !important;
      width: 100% !important;
      height: auto !important;
    }
    label {
      color: #000 !important;
    }
    .select2-selection {
      background: transparent !important;
      border: 1px solid #000 !important;
      height: 42px !important;
      font-size: 1rem !important;
      span {
        line-height: 42px !important;
      }
    }
  }
}

.woocommerce-checkout .woocommerce .argmc-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 30px !important;
}