.masonary {
  text-align: center;
  max-width: 95vw;
  margin: 2.5vw auto;

  &-item {
    padding: 5px;
    box-sizing: border-box;
    display:inline;
    @include max-mobile-md {
      width: 25%;
    }
    @include max-tablet-xs {
      width: 33.3333333333%;
    }
    @include max-mobile-xl {
      width: 50%;
    }
  }
}
