html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch !important; /* Lets it scroll lazy */
  background: #f8f0ec;

}

//.site-content {
//  background: #f8f0ec;
//}

::-webkit-scrollbar {
  display: none;
}


.grecaptcha-badge {
  visibility: collapse !important;
}

#moove_gdpr_cookie_info_bar {
  background: $brand !important;

  .moove-gdpr-info-bar-container {
    padding: 20px !important;
    .moove-gdpr-cookie-notice {
      * {
        color: $brand-light !important;
      }
    }
    .moove-gdpr-info-bar-content {
      display: block !important;
      text-align: center !important;

      .moove-gdpr-button-holder {
        margin: 0 auto !important;
        display: block !important;
        margin-top: 10px !important;

        button {
          padding: 5px 0 !important;
          background: transparent !important;
          color: #fff !important;
          border-bottom: 1px solid #fff !important;
          border-radius: 0 !important;
          letter-spacing: 0 !important;
          &:hover {
            border: none !important;
            border-bottom: 1px solid $brand-light !important;
            color: $brand-light !important;
          }
        }
      }
    }
  }

  * {
    opacity: 1 !important;
    transform: translateY(0) !important;
    font-family: "Belwe Lt BT Light", Sans-serif !important;
  }
}



.gdpr_lightbox {
  z-index: 9999999 !important;
  * {
    font-family: "Belwe Lt BT Light", Sans-serif !important;

  }

  .moove-gdpr-modal-content {
    border-radius: 0 !important;
  }
  .moove-gdpr-modal-close {
    border: none !important;
  }
  button {
    width: max-content !important;
    padding: 5px 0 !important;
    background: transparent !important;
    color: #000 !important;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0 !important;
    letter-spacing: 0 !important;
    &:hover {
      border: none !important;
      border-bottom: 1px solid $brand-light !important;
      color: $brand-light !important;
    }
  }
}