.relatedevents {
  .products {
    @include list-unstyled;
  }
  .price {
    display: none !important;
  }

  h2 {
    display: none !important;
  }

  ul li h2 {
    display: block !important;
    margin-top: 10px;
    font-size: 1.3rem !important;
    line-height: 1.2 !important;
    @include max-mobile-xlg {
      font-size: 1rem !important;
    }
  }

  .button {
    margin-top: 10px;
    transform: translateY(0) !important;
    text-align: center !important;
    display: block !important;
  }
}

#wc-stripe-payment-request-wrapper {
  display: none !important;
}